body {
    background-color: #f4f4f4;
}
.navbar {
    background-color: #12C2C0; /* Color base 1 */
}
.header {
    background: linear-gradient(90deg, #12C2C0, #C9458A); /* Gradiente de #12C2C0 a #C9458A */
    color: white;
}
.card {
    border: none;
}
.card:hover {
    background-color: #fce4ec; /* Color rosa claro para hover */
}
.btn-custom {
    background: linear-gradient(90deg, #12C2C0, #C9458A); /* Gradiente para los botones */
    color: white;
    border: none;
}
.btn-custom:hover {
    background: linear-gradient(90deg, #C9458A, #12C2C0); /* Invertir gradiente en hover */
}
footer {
    background-color: #12C2C0; /* Color base del footer */
}
